.container {
    width: 90%;
    padding: 5rem 1rem;
    margin: 2rem auto;
    text-align: center;
}

.owl-carousel {
    width: 80%;
    height: auto;
    text-align: center;
    transition: .4s ease-in-out;
}

.owl-carousel img {
    width: 30%;
    height: auto;
    margin-right: 1rem;
    display: block;
}